annotated-types==0.7.0
black==24.4.2
blinker==1.8.2
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.14.0
Flask==3.0.3
greenlet==3.0.3
identify==2.5.36
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.2
pre-commit==3.7.1
pycodestyle==2.11.1
pydantic==2.7.1
pydantic_core==2.18.2
pyflakes==3.2.0
PyYAML==6.0.1
SQLAlchemy==2.0.30
typing_extensions==4.11.0
virtualenv==20.26.2
Werkzeug==3.0.3
